* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all ease 0.2s;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    color: #ffffff;
}

a {
    text-decoration: none;
}

h1,
p {
    margin: 0;
    padding: 0;
}

.text_blue {
    color: #3E9CDC;
}