.content-container {
  max-width: 1170px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  padding: 20px;
  background: url("../\ img/background_main.jpg") lightgray 50% / cover no-repeat;
  color: white;
}

