.popup-overlay {
    display: none;
    /* Скрываем по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    /* Полупрозрачный черный фон */
    z-index: 1000;
    /* Обеспечиваем видимость поверх других элементов */
}

.popup {
    width: 100%;
    border: 2px solid white;
    position: relative;
    left: 100%;
    transform: translate(-100%, 50%);
    background: #3D4050;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}
@media(max-width:768px){
    .popup {transform: translate(-100%, 5%);}


}

.popup__close {
    border: none;
    background: none;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}